.transform-180 {
  transform: rotate(180deg);
}

.mt-0-2em {
  margin-top: 0.2em !important;
}

.session-profissionais-poligon {
  height: 25px;
}

.session-profissionais-hr {
  height: 2px !important;
}

.session-profissionais-hr,
.session-profissionais-text-color {
  color: #00cad6;
}

.color-button {
  color: #008085;
  border-color: #008085;
}

@media only screen and (max-width: 1200px) {
  .session-profissionais-container-cards {
    width: 100% !important;
  }
}

@media only screen and (min-width: 1201px) {
  .session-profissionais-container-cards {
    width: 60% !important;
  }
}

.session-profissionais-container-cards {
  background-image: url(../../../assets/fundo-cards.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 560px;
}
