.transform-180 {
  transform: rotate(180deg);
}

.mt-0-2em {
  margin-top: 0.2em !important;
}

.session-profissionais-poligon {
  height: 25px;
}

.session-profissionais-hr {
  height: 2px !important;
}

.session-profissionais-hr,
.session-profissionais-text-color {
  color: #00cad6;
}
/* 
.color-1 {
  background-color: #5edce4;
}

.color-2 {
  background-color: #00afaf;
}

.color-3 {
  background-color: #008085;
}

.color-4 {
  background-color: #00799d;
} */

.color-button {
  color: #008085;
  border-color: #008085;
}

.session-profissionais-container-cards {
  background-image: url(../../../assets/fundo-cards.png);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 560px;
}
